<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @address.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @address.last_name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @address.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @address.address2 %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @address.contact_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
